<!-- router.html -->
<nav id="main_nav">
    <div>
        <a th:classappend="${navUrl == '/' ? ' active' : ''}"       class="navBtn" href="/" onclick="loadPage('/', event)">main</a>
    </div>
    <div>
        <a th:classappend="${navUrl == '/test1' ? ' active' : ''}"  class="navBtn" href="/test1" onclick="loadPage('/test1', event)">Test1</a>
    </div>
    <div>
        <a th:classappend="${navUrl == '/test2' ? ' active' : ''}"  class="navBtn" href="/test2" onclick="loadPage('/test2', event)">Test2</a>
    </div>
    <div>
        <a th:classappend="${navUrl == '/test3' ? ' active' : ''}"  class="navBtn" href="/test3" onclick="loadPage('/test3', event)">Test3</a>
    </div>
</nav>

<style>
    #main_nav {
        width: 600px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 16px 16px 0 0;
        background: #fff;
        border-left: 1px solid rgba(204, 204, 204, 0.5);
        border-top: 1px solid rgba(204, 204, 204, 0.5);
        border-right: 1px solid rgba(204, 204, 204, 0.5);

    }
    #main_nav > div {
        width: 100%;
        text-align: center;
        padding: 6px 0;
        height: 55px;

    }

    #main_nav {
        .navBtn {
            font-size: 24px;
        }
        .active {
            color: red;
        }
    }
</style>