<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[${title}]]</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert = "~{component/default/defaultCss.html}"></th:block>
    <th:block th:insert = "~{component/default/defaultScript.html}"></th:block>
</head>
<body>
    <div id="main_wrap">
        <!-- header -->
        <th:block th:insert = "~{component/mainNavigation.html}"></th:block>
        <!-- //header -->

        <!-- content -->
        <div id="content">
            <div id="component">
                <h1>[[${id}]]</h1>

                <script>
                    $(function(){
                        $("#main_nav").hide();
                    })
                </script>
            </div>
        </div>
        <!-- //content -->
    </div>
</body>
</html>