<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>당근마켓-로그인</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<th:block th:insert="~{component/default/defaultCss.html}"></th:block>
	<th:block th:insert="~{component/default/defaultScript.html}"></th:block>
	<!-- Vue.js CDN -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<h2>Login</h2>
		<form @submit.prevent="login">
			<div>
				<label for="username">Username:</label>
				<input class="uk-input" v-model="username" id="username" ref="usernameInput" placeholder="Username" />
				<span v-if="usernameError">{{ usernameError }}</span>
			</div>
			<div>
				<label for="password">Password:</label>
				<input class="uk-input" v-model="password" id="password" type="password" ref="passwordInput" placeholder="Password" autocomplete="false"/>
				<span v-if="passwordError">{{ passwordError }}</span>
			</div>
			<button class="uk-button" type="submit">Login</button>
		</form>
	</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				username: '',
				password: '',
				usernameError: '',
				passwordError: ''
			},
			methods: {
				async login() {
					try {
						const loginValidCheker = this.loginValidation(this.username, this.password);

						const formData = new FormData();
						formData.append('username', this.username);
						formData.append('password', this.password);

						const response = await axios.post('/login', formData);

						if(response.data?.success === true){
							location.href = '/';
						} else {
							alert('로그인 실패');
							this.clearForm();
						}

					} catch (e) {
						console.error(e.message);
					}
				},

				/**
				 * 로그인 유효성 검사
				 * @param {string} username 사용자 이름
				 * @param {string} password 비밀번호
				 */
				loginValidation(username, password) {
					if (username.trim().length === 0) {
						alert('아이디를 입력해주세요.');
						this.usernameError = '아이디를 입력해주세요.';
						this.username = '';
						this.$refs.usernameInput.focus();
						throw new Error('아이디를 입력해주세요.');
					} else {
						this.usernameError = '';
					}
					if (password.trim().length === 0) {
						alert('비밀번호를 입력해주세요.');
						this.passwordError = '비밀번호를 입력해주세요.';
						this.password = '';
						this.$refs.passwordInput.focus();
						throw new Error('비밀번호를 입력해주세요.');
					} else {
						this.passwordError = '';
					}
				},

				clearForm() {
                    this.username = '';
                    this.password = '';
                    this.$refs.usernameInput.focus();
                }
			},

			mounted() {
				// 자동으로 사용자 이름 입력 필드에 포커스 설정
				this.$refs.usernameInput.focus();
			}
		});
	</script>
</body>

</html>