<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>

<!-- Ajax처리를 위한 포함 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Vue.js 3 CDN -->
<script src="https://unpkg.com/vue@3"></script>
<!-- Vue-router.js CDN-->
<script src="https://unpkg.com/vue-router@4"></script>
<!-- Vue-SFC-Loader.js CDN-->
<script src="https://unpkg.com/vue-sfc-loader"></script>
