
#wrap {
    width: 450px;
    margin: 0 auto;
    padding-top: 160px;
}

#login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgaa {
    width: 200px;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

#login-form {
    width: 450px;
    padding: 40px 24px 24px 24px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.error-message {
    color: red;
    font-size: 12px;
    text-align: right;
    width: 100%;
    display: block;
    position: absolute;
    top : -17px;
    right: 0;
}

.message {
    font-size: 12px;
    text-align: left;
    width: 100%;
    display: block;
    position: absolute;
    top : -17px;
    left: 0;
}

.input-component {
    margin-bottom: 28px;
}
.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

/* 라벨 스타일 */
.input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #007bff;
}

#failBox .input-container input:focus + label,
#failBox .input-container input:not(:placeholder-shown) + label {
    font-size: 12px;
    color: #333;
}

#login-btn {
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
}

#failBox {
    display: flex;
    gap : 10px;
    margin-top: 30px;
    margin-bottom: 16px;
}

#find-wrap {
    margin: 0 auto;
    text-align: center;
    padding: 24px 0px;
}

#find-wrap ul {
    display: flex;
    justify-content: center;
}
#find-wrap li{
    position: relative;
}

#find-wrap li:not(:first-child){
    padding-left: 26px;
}

#find-wrap li:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 12px;
    width: 1px;
    height: 12px;
    border-radius: .5px;
    background-color: #ccc;
}
